In [1]:
import pandas as pd
import os

In [13]:
os.chdir('/Users/meldrumapple/Desktop/Capstone/lct_corpus')
folder_list=os.listdir()
folder_list.remove('visual.conf')

In [22]:
df=pd.DataFrame(columns=[1,2])
for x in folder_list:
    os.chdir('/Users/meldrumapple/Desktop/Capstone/lct_corpus/'+x)
    new_file_list=[i for i in os.listdir() if 'ann' in i]
    for file in new_file_list:
        try:
            file_df = pd.read_csv(file, sep='^([^\s]*)\s', engine='python', header=None).drop(0, axis=1)
            df=pd.concat([df, file_df], axis=0)
        except:
            None

In [23]:
df

     1                                   2
0   E1            Modifier:T1 Modifies:T20
1   E2               Procedure:T2 Name:T20
2   E3            Modifier:T3 Modifies:T21
3   E4               Condition:T4 Name:T21
4   E5            Modifier:T5 Modifies:T22
..  ..                                 ...
14  A2  Encounter-Type-Value E3 outpatient
15  R1                  Or Arg1:E2 Arg2:E3
16  R2                 And Arg1:E3 Arg2:E5
17  T5              Negation 131 135\tlack
18  E4              Negation:T5 Negates:T3

[106984 rows x 2 columns]

In [24]:
df.to_csv('/Users/meldrumapple/Desktop/Capstone/lct_corpus/lct_ann')